/* General Body Styling */
body {
    background-color: #f9fafb; /* Tailwind's gray-50 */
    font-family: 'Figtree', sans-serif; /* Fuente personalizada */
}

/* Global styling for headers */
h1, h2, h3, h4, h5, h6 {
    color: #1f2937; /* Tailwind's gray-800 */
    font-weight: 600;
    margin-bottom: 1rem;
}

/* Button styling */
button, .btn {
    background-color: #3b82f6; /* Tailwind's blue-500 */
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem; /* Tailwind's rounded-md */
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
}

button:hover, .btn:hover {
    background-color: #2563eb; /* Tailwind's blue-600 */
    transform: translateY(-2px);
}

button:active, .btn:active {
    background-color: #1d4ed8; /* Tailwind's blue-700 */
    transform: translateY(0);
}

/* Success button styling */
.btn-success {
    background-color: #306453; /* Tailwind's green-500 */
}

.btn-stock {
    background-color: #bd792c; /* Tailwind's green-500 */
}

.btn-success:hover {
    background-color: #059669; /* Tailwind's green-600 */
}

.btn-success:active {
    background-color: #047857; /* Tailwind's green-700 */
}

/* Danger button styling */
.btn-danger {
    background-color: #ef4444; /* Tailwind's red-500 */
}

.btn-danger:hover {
    background-color: #dc2626; /* Tailwind's red-600 */
}

.btn-danger:active {
    background-color: #b91c1c; /* Tailwind's red-700 */
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #e5e7eb; /* Tailwind's gray-200 */
}

th {
    background-color: #f3f4f6; /* Tailwind's gray-100 */
    color: #374151; /* Tailwind's gray-700 */
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: #f9fafb; /* Tailwind's gray-50 */
}

tr:hover {
    background-color: #f1f5f9; /* Tailwind's gray-100 */
}